html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-card-portifolio {
    background-color: #F3F5F6;
}

.bg-card-value-portifolio {
    background-color: #22555A;
}

p{
    margin: 0;
}